fastapi==0.115.12
uvicorn==0.34.1
openai-whisper==20240930
torchaudio==2.6.0
scikit-learn==1.6.1
speechbrain==1.0.3
nltk==3.9.1 
numpy==1.26.4
spacytextblob==5.0.0
spacy==3.8.5
librosa==0.11.0
pyloudnorm==0.1.1
matplotlib==3.9.4
groq==0.22.0
python-dotenv==1.1.0
python-multipart==0.0.20
ffmpeg-python==0.2.0
transformers==4.52.2
tokenizers==0.21.1
safetensors==0.5.3
tiktoken==0.9.0
more-itertools==10.7.0
huggingface-hub==0.31.4
regex==2024.11.6
tqdm==4.67.1
torch==2.6.0
filelock==3.18.0
packaging==25.0
typing-extensions==4.13.2
pyyaml==6.0.2
requests==2.32.3
jinja2==3.1.6
sympy==1.13.1
fsspec==2025.5.0
numba==0.60.0
llvmlite==0.43.0
scipy==1.13.1
gunicorn==21.2.0

